.container {
  max-width: 90%;
  margin: 1rem auto;
  padding: 1rem;
}

.heading {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}


.item {
  border: 1px solid #000000;
  box-shadow: 0 10px 0px rgba(0, 0, 0, 0.81);
  border-radius: 8px;
  margin-bottom: 1.1rem;
  overflow: hidden;
}

.question {
  width: 100%;
  background: #B9FF66;
  color: #222;
  font-size: 1rem;
  padding: 0.9rem 1rem;
  border: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionBef {
  width: 100%;
  background: rgba(128, 128, 128, 0.477);
  color: #222;
  font-size: 1rem;
  padding: 0.9rem 1rem;
  border: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: all 0.3s ease;
}

.open {
  max-height: 200px;
  padding: 0.8rem 1rem;
}
